USE [master]
GO
/****** Object:  Database [Nhahang]    Script Date: 5/27/2021 10:07:28 PM ******/
CREATE DATABASE [Nhahang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nhahang', FILENAME = N'C:\Users\Asus\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Nhahang.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nhahang_log', FILENAME = N'C:\Users\Asus\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Nhahang.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nhahang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nhahang]
GO
USE [Nhahang]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 5/27/2021 10:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[ID_Table] [varchar](50) NOT NULL,
	[Type] [nchar](10) NULL,
	[Number_of_guests] [int] NULL,
	[Time] [datetime] NULL,
	[status] [varchar](50) NULL,
	[Total] [nchar](10) NULL,
	[Name_Custumer] [varchar](50) NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[ID_Table] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/27/2021 10:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Phone] [int] NULL,
	[Email] [text] NULL,
	[CCCD] [varchar](50) NULL,
	[Address] [text] NULL,
	[QuocTich] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatMon]    Script Date: 5/27/2021 10:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatMon](
	[ID_Table] [varchar](50) NULL,
	[ID_Food] [int] NULL,
	[Food_Name] [varchar](50) NULL,
	[Danh_Muc] [varchar](50) NULL,
	[Gia] [int] NULL,
	[So_Luong] [int] NULL,
	[Picture] [image] NULL,
	[Thanh_Toan] [varchar](50) NULL,
	[Thuc_Hien] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 5/27/2021 10:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID_Food] [int] NOT NULL,
	[Food_Name] [varchar](50) NULL,
	[Danh_Muc] [varchar](50) NULL,
	[Gia] [int] NULL,
	[Picture] [image] NULL,
	[Tinh_Trang] [varchar](50) NULL,
	[Mo_Ta] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Food] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 5/27/2021 10:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[KhoiLuong] [int] NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 5/27/2021 10:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] NOT NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[bdate] [datetime] NULL,
	[gender] [varchar](50) NULL,
	[phone] [int] NULL,
	[address] [nchar](10) NULL,
	[picture] [image] NULL,
	[ChucVu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
